ann @ file:///home/hemant/oopd/oopd/dist/ann-0.0.1-py3-none-any.whl
antlr4-python3-runtime==4.8
brotlipy==0.7.0
build==0.7.0
certifi==2021.10.8
cffi @ file:///tmp/build/80754af9/cffi_1625807838443/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
cryptography @ file:///tmp/build/80754af9/cryptography_1635366571107/work
hydra-core==1.0.6
idna @ file:///tmp/build/80754af9/idna_1637925883363/work
importlib-resources==5.1.2
ipython-sql==0.4.0
mysql-connector==2.2.9
mysql-connector-python==8.0.27
mysql-connector-python-rf==2.2.2
mysqlclient==2.1.0
numpy==1.21.4
omegaconf==2.0.6
packaging==21.3
pep517==0.12.0
prettytable==0.7.2
protobuf==3.19.1
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1635333100036/work
pyparsing==3.0.6
PySocks @ file:///tmp/build/80754af9/pysocks_1605305779399/work
requests @ file:///tmp/build/80754af9/requests_1629994808627/work
six @ file:///tmp/build/80754af9/six_1623709665295/work
SoundFile==0.10.3.post1
sqlparse==0.4.2
tomli==1.2.2
tqdm @ file:///tmp/build/80754af9/tqdm_1635330843403/work
urllib3==1.26.7
